
    <!-- Custom styles for this template -->

       <!-- ===============================================-->
       <!--    Favicons-->
       <!-- ===============================================-->
       <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/img/favicons/apple-touch-icon.png}">
       <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/img/favicons/favicon-32x32.png}">
       <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/img/favicons/favicon-16x16.png}">
       <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicons/favicon.ico}">
       <link rel="manifest" th:href="@{/assets/img/favicons/manifest.json}">
       <meta name="msapplication-TileImage" content="@{/assets/img/favicons/mstile-150x150.png}">
       <meta name="theme-color" content="#ffffff">

       <link th:href="@{/assets/css/theme.css}" rel="stylesheet" />


